@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 88 35% 55%;
    --foreground: 88 65% 16%;
    --card: 88 35% 55%;
    --card-foreground: 88 65% 16%;
    --popover: 88 35% 55%;
    --popover-foreground: 88 65% 16%;
    --primary: 88 65% 16%;
    --primary-foreground: 88 35% 55%;
    --secondary: 88 25% 37%;
    --secondary-foreground: 88 65% 16%;
    --muted: 88 25% 37%;
    --muted-foreground: 88 51% 28%;
    --accent: 88 35% 55%;
    --accent-foreground: 88 65% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 65% 16%;
    --input: 88 25% 37%;
    --ring: 88 65% 16%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 88 35% 55%;
    --foreground: 88 65% 16%;
    --card: 88 35% 55%;
    --card-foreground: 88 65% 16%;
    --popover: 88 35% 55%;
    --popover-foreground: 88 65% 16%;
    --primary: 88 65% 16%;
    --primary-foreground: 88 35% 55%;
    --secondary: 88 25% 37%;
    --secondary-foreground: 88 65% 16%;
    --muted: 88 25% 37%;
    --muted-foreground: 88 51% 28%;
    --accent: 88 35% 55%;
    --accent-foreground: 88 65% 16%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 65% 16%;
    --input: 88 25% 37%;
    --ring: 88 65% 16%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .pixel-grid::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image:
        linear-gradient(hsla(var(--foreground) / 0.05) 1px, transparent 1px),
        linear-gradient(90deg, hsla(var(--foreground) / 0.05) 1px, transparent 1px);
      background-size: 3px 3px;
      pointer-events: none;
      z-index: 10;
    }
    .text-shadow-sm {
        text-shadow: 1px 1px 0px hsla(var(--foreground) / 0.4);
    }
}
